{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="detailMain">
  {% comment %} <a href="/" class="back">back to overview</a> {% endcomment %}
  
  <section> 
    <img src="{{ profile.profile_image.large }}" alt="{{ profile.name }}'s profile image" id="profile__image">
    <div>
      <h1 class="h1">{{ profile.name }}</h1>
      {% if profile.location %}
      <p> 📍 {{ profile.location}}</p>
    {% endif %}
      <p>{{ profile.bio }}</p>
      {% if  profile.portfolio_url  %}
      <p>
        Website:
        <a href="{{ profile.portfolio_url}}" target="_blank"> {{ profile.portfolio_url }}</a>
      </p>
    {% endif %}
        <p>Total likes: <span>{{ profile.total_likes }} </span></p>
      <ul>
      {% for tag in profile.tags.custom %}
        <li>{{ tag.title }}</li>
      {% endfor %}
      </ul>
     
    </div>
    
  </section>
  
    <section>
      <h3>Photos by {{ profile.name }}</h3>
    <ul class="grid" id="photoContainer">
      {% for photo in photos %}
        <li>
          <img src="{{ photo.urls.regular }}" alt="{{ photo.alt_description }}" id="card__image">
        </li>
      {% endfor %}
    </ul>
    </section>
    </div>
  

{% endblock %}

