<img src="{{ like.urls.regular }}" alt="{{ like.alt_description }}" style="--aspect-ratio: {{ photo.width }} / {{ photo.height }};">
<a href="/users/{{ like.user.username }}">
<p>{{ like.user.name }}</p>
<p>{{ like.alt_description }}</p>
</a>